@import '~antd/dist/antd.css';
.site-layout .site-layout-background {
  background: #fff;
  
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

.site-card-wrapper {
  margin-top: 15px;
}
.ant-typography {
  color: whitesmoke;
}

h1.ant-typography {
  color: whitesmoke;
  font-size: x-large;
  float: left;
}

.ant-page-header-ghost {
  background-color: #001529;
}

.ant-page-header-heading-title {
  color: whitesmoke;
}
.ant-page-header-heading-sub-title {
  color: seashell;
}

.ant-btn {
  background-color: #001529;
  color: whitesmoke;
}
.ant-btn ::selection {
  background-color: #001529;
  height: 0;
}
.ant-btn:hover, .ant-btn:focus {
  background-color: #001529;
}